@import "tailwindcss";


@theme {
  /* Background colors */
  --color-shell: #F9F6F4;        /* light, neutral background */
  --color-blush: #F2D1CC;        /* soft blush accent */
  --color-mauve: #7B5E7B;        /* deep tone for headings */
  --color-sand: #F4F1EC;         /* secondary background */
  
  /* Text colors */
  --color-ink: #2B2B2B;          /* primary text */
  
  /* Accent colors */
  --color-gold: #EBD9A9;         /*  gold for buttons, hover, and accents */
}
