@import "tailwindcss";

@theme {
  /* Background colors */
  --color-shell: #f9f6f4; /* light, neutral background */
  --color-blush: #f2d1cc; /* soft blush accent */
  --color-mauve: #7b5e7b; /* deep tone for headings */
  --color-sand: #f4f1ec; /* secondary background */

  /* Text colors */
  --color-ink: #2b2b2b; /* primary text */

  /* Accent colors */
  --color-gold: #ebd9a9; /*  gold for buttons, hover, and accents */
}

@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: shimmer 3s ease-in-out infinite alternate;
}
